<fieldset>
  <legend><%= @category.name %> Trips</legend>
  <ul>
    <% current_user.trips_in_category(@category).each do |trip| %>
      <li><%= link_to trip.title+' - '+trip.year.to_s , trip_path(trip) %></li>
    <% end %>
  </ul>
</fieldset>
