<fieldset>
  <legend>Trips by Category</legend>
  <ul>
    <% current_user.categories.uniq.each do |category| %>
      <li><%= link_to category.name, category_path(category) %></li>
    <% end %>
  </ul>
</fieldset>
